<h1>{{ titleComponent }}</h1>

<button (click)="onHandleClick()">Click</button>
{{isStatus}}


<input type="text" [(ngModel)]="productsList" />
{{ productsList }}



<div *ngIf="isStatus">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Trạng thái</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productsList, let i = index">
                <td>{{i + 1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.status ? "còn hàng" : "hết hàng"}}</td>

                <td>
                    <button class="btn btn-danger" (click)="onHandleDelete(product.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>